body{
	background-image: url("../images/loginbg.jpg");
	background-repeat: no-repeat;
}


.login_background{
	background-color: white;
	margin: 0px auto;
	float: none;
	border-radius: 10px;
	opacity:0.9;
}

@media screen and (min-width: 601px) {
    .login_background {
        top: 150px;
    }
}

@media screen and (max-width: 600px) {
    .login_background {
        top: 300px;
    }
}


.login-form{
	opacity:1;
}
.login-form>h2{
	opacity: 1;
	font-weight: bold;
	margin-left: 85px;
}
.login-form>p{
	opacity: 1;
	font-size: 17px;
	margin-left: 20px;

}
form{
	margin-top: 50px;
}
.form-control{
	height: 40px;
}
.btn.btn-primary{
	margin-top: 30px;
	margin-left: 150px;
}