body{
	background-image: url("../images/loginbg.jpg");
	background-repeat: no-repeat;
}
.container{
	background-position: center;
	margin-top: 100px;
}
.login_background{
	background-color: white;
	margin: 0px auto;
	float: none;
	border-radius: 10px;
	opacity:0.9;
}

@media screen and (min-width: 1200px){
	.form-signin{
	margin-left: 400px;	
	}
}
.login-form{
	opacity:1;
}
.login-form>h2{
	opacity: 1;
	font-weight: bold;
	margin-left: 85px;
}
.login-form>p{
	opacity: 1;
	font-size: 17px;
	margin-left: 20px;

}
input{
	font-weight:
}
form{
	margin-top: 0px;
}
.form-control{
	height: 40px;
}
.button{
	padding-left: 20px;
	padding-right: 20px;
	margin-top:30px;
	font-size: 30px
}
